[project]
	description = 1st ever github repo... omerhgerd
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ryan (ryanpei)
[access "refs/for/refs/*"]
	read = group user/Ryan (ryanpei)
	push = group user/Ryan (ryanpei)
	label-Code-Review = -2..+2 group user/Ryan (ryanpei)
	label-Verified = -1..+1 group user/Ryan (ryanpei)
	rebase = group user/Ryan (ryanpei)
	removeReviewer = group user/Ryan (ryanpei)
	submit = group user/Ryan (ryanpei)
[access "refs/heads/*"]
	read = group user/Ryan (ryanpei)
	create = group user/Ryan (ryanpei)
	push = +force group user/Ryan (ryanpei)
	pushMerge = group user/Ryan (ryanpei)
[access "refs/tags/*"]
	push = +force group user/Ryan (ryanpei)
	pushTag = group user/Ryan (ryanpei)
	pushSignedTag = group user/Ryan (ryanpei)
